@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #26314f;
  --secondary: #f5a431;
  --accent: #c7d93d;
  --tint: #fbd4a0;
  --shade: #1a2233;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-roboto);
}

h1, h2, h3, h4, h5 {
  font-family: var(--font-lato);
  color: var(--primary);
}

p {
  color: var(--primary);
}

a {
  color: var(--primary);
}

